:root {
  --main-bg-color: #F4F6F7; /* #909497 */
  --font-family: Courier New, monospace;
  --font-variant: small-caps;
  --font-stretch: ultra-condensed;
  --font-weight: 500;
  --color: #000000; /* #ffffff */
}


body {
  background: var(--main-bg-color);
  color: var(--color);
  font-family: var(--font-family);
  font-variant: var(--font-variant);
  font-weight: var(--font-weight);
  font-stretch: var(--font-stretch);
}

h1, h2, h3, h4, h5, a, p {
  font-family: var(--font-family);
  font-variant: var(--font-variant);
  font-weight: var(--font-weight);
  font-stretch: var(--font-stretch);
  color: var(--color);
}

h1 {
  /*border-bottom: 2px solid #eee;*/
  /*display: inline;*/
  /*text-decoration: overline underline;*/
  /*margin-top: 5px;*/
  font-size: 2.2em;
  line-height: 0em;
}

h2 {
  font-size: 1.5em;
}

a {
  font-size: 1.5em;
  text-decoration: none;
  padding: 15px;
  border-radius: 0 5px 5px 0;
}

a:hover{
  margin-top: -10px;
  color: #000000;
  font-weight: 500;
}

.nav{
  /*padding-top: 75px;*/
  background: none;
  border: none;
  float: right;
  white-space: nowrap;
  overflow: hidden;
}

.nav>li{
  position: relative;
  display: inline-block;
  margin: 10px;
}

.paragraph {
  float: right;
  list-style-type: none;
  margin-top: -5px;
  margin-right: 10px;
}

.container {
/*  padding-top: 250px;
  padding-left: 500px;*/
  /*background-image: url(static/img/python.jpeg)*/
  padding-top: 75px;
  padding-left: 5px;
  height: 500px;
}


/*************/
/*   Home    */
/*************/

.big-title{
  font-size: 2.5em;
  font-family: var(--font-family);
  font-variant: var(--font-variant);
  font-weight: var(--font-weight);
  font-stretch: var(--font-stretch);
  color: var(--color);
  float: all;
  position: absolute;
  top: 40%;
  left: 70%;
/*  padding-left: 500px;
  padding-top: 150px;*/
}

.undertitle{
  font-size: 1.5em;
  font-family: var(--font-family);
  font-variant: var(--font-variant);
  font-weight: var(--font-weight);
  font-stretch: var(--font-stretch);
  color: var(--color);
  position: absolute;
  top: 45%;
  left: 68%;
}

.footer{
  padding-top: 70px;
  list-style-type: none;
}

.footer>li {
 /*padding-top: 550px;*/
 display: inline-block;

}

.picture {
  background-image: url(static/css/python.jpeg)
  position: relative;
  /*padding-left: 0px;*/
  margin-top: -115px !important;
  margin-left: -20px;
  float: left;
  /*margin: -30px;*/

}


/*************/
/* Portfolio */
/*************/

.space {
  padding-left: 75px;
  padding-top: 40px;
}

.column {
  float: left;
  width: 300px;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/*************/
/*   About   */
/*************/

.content-about {
  padding-left: 2%;
  padding-top: 5%;
}

.black-row{
/*  background-color: #000000;
  height: 250px;
  margin-top: 20px;*/
}

.big-letters {
  font-size: 9em;
  padding-left: 20%;
  margin-top: -135px;
  margin-left: -25px;

}

.person {
  position: relative;
  width: 25%;
  margin-top: -10%;
  margin-left: 35%;
}

.person1 {
  position: relative;
  width: 25%;
  margin-top: -25%;
  margin-left: 65%;
}

/*************/
/*   Resume  */
/*************/
