<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/Portfolio">Portfolio</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Resumé">Resumé</a></li>
   </ul>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class='container'>
    {% block content %}
    {% endblock %}
    </div>
  <div class="footer">
    <li><a href="https://www.linkedin.com/in/tobias-egelund-9b448110a/"> <img src="static/img/linkedin.png" style="width:42px;height:42px;"></a></li>
    <li><a href="https://github.com/tobiasegelund"><img src="static/img/github.png" style="width:42px;height:42px;"></a></li>
    <div class='paragraph'>
      <li><p>&copy; Tobias Berg Egelund</p></li>
    </div>
  </div>
  </body>
</html>
